#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: 1;
    transition: opacity 0.5s;
}

* {
    box-sizing: border-box;
}

#preloader.hide {
    animation: fadeOut 0.5s forwards;
}
#loader {
    width: 40px;
    height: 40px;
    border: 4px solid #f5f5f5;
    border-top-color: #C80D3A;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    user-select: none;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

span.step-info {
    font-family: "Helvetica Neue LT Std";
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    margin-top: auto;
    color: #C80D3A;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
}


.quiz-progress {
    margin-top: 18px;
}

main {
    max-width: 100%;
    overflow: hidden;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.question {
    position: relative;
    min-height: 460px;
}

.quiz {
    max-width: 840px;
    padding: 70px;
    background-color: #fff;
}

.steps legend {
    font-family: "Helvetica Neue LT Std";
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    max-width: 325px;
}

.steps legend span {
    display: block;
    width: 100%;
}

.step:has(.quiz-answers-type-final) legend {
    max-width: 100%;
}

.step img {
    position: absolute;
    right: 0;
    top: 110px;
    height: calc(100% - 110px);
    max-width: 229px;
    object-fit: cover;
}

.tooltip {
    margin-left: 20px;
}

.tooltip svg {
    display: none;
}

.answer-btn.active .tooltip-text {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}

.tooltip .tooltip-text {
    position: absolute;
    left: 0;
    bottom: -25%;
    width: 100%;
    z-index: 1;
    font-family: "Helvetica Neue LT Std";
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0.3s;
    vertical-align: top;
    height: 49px;
}

.quiz-title {
    margin-bottom: 100px;
    font-family: "Helvetica Neue LT Std";
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    color: #231F20;
}

.quiz-answers-type-radio {
    max-width: calc(100% - 259px);
    position: relative;
}

.quiz-answers-type-radio .answer-btn {
    display: flex;
    align-items: center;
}

.quiz-answers-type-radio .answer-btn:not(:last-of-type) {
    margin-bottom: 10px;
}

.quiz-answers-type-radio .answer-btn input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.quiz-answers-type-radio .answer-btn input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.quiz-answers-type-radio input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.quiz-answers-type-radio .answer-btn {
    border: 1px solid #636363;
    height: 48px;
    padding: 0 15px;
    transition: 0.3s;
    cursor: pointer;
}

.quiz-answers-type-radio .answer-btn.active {
    background-color: #231F20;
}

.quiz-answers-type-radio .answer-btn.active label {
    color: #fff;
}

.pagination-quiz {
    margin-top: 115px;
    display: flex;
}

.btn-quiz-next {
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 48px;
    border-radius: 60px;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #C80D3A;
    font-family: "Helvetica Neue LT Std";
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-quiz-next:after {
    content: "";
    display: block;
    background-image: url(../img/icons/btn-arrow-white-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.btn-quiz-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/icons/btn-arrow-white-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    width: 48px;
    height: 48px;
    background-color: #231F20;
    transform: scale(-1);
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: none;
    margin-right: 20px;
    cursor: pointer;
}

.quiz-answers-type-form .answer-btn {
    display: flex;
    flex-wrap: wrap;
}

.quiz-answers-type-form  .form-inputs {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.quiz-answers-type-form {
    max-width: 100%;
}

.quiz-answers-type-form .form-column {
    width: 100%;
    display: flex;
}

.quiz-answers-type-form textarea:focus, .quiz-answers-type-form input:focus {
    outline: none;
    box-shadow: none;
}

.quiz-answers-type-form textarea {
    height: 116px;
    resize: none;
    padding: 18px 20px;
    font-family: "Helvetica Neue LT Std";
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #231F20;
    border: 1px solid #231F20;
    width: 100%;
}

.quiz-answers-type-form textarea::placeholder {
    font-family: "Helvetica Neue LT Std";
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #231F20;
}

.quiz-answers-type-form input {
    height: 48px;
    padding: 0 20px;
    border: 1px solid #231F20;
    width: calc(50% - 10px);
    font-family: "Helvetica Neue LT Std";
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #231F20;
    max-width: 100%;
    margin-bottom: 20px;
}


.quiz-answers-type-form input:nth-of-type(1) {
    margin-right: 10px;
}

.quiz-answers-type-form input:nth-of-type(2) {
    margin-left: 10px;
}

.quiz-answers-type-form input::placeholder {
    font-family: "Helvetica Neue LT Std";
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #231F20;
}

.quiz-answers-type-form .form-contact-title {
    font-family: "Helvetica Neue LT Std";
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 15px;
    color: #231F20;
    width: 100%;
}

.quiz-answers-type-form .form-contact {
    max-width: 100%;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.quiz-answers-type-form .form-contact .answer-btn {
    display: inline-flex;
    width: 49%;
}

.quiz-answers-type-form .form-contact .radio-btn {
    cursor: pointer;
    position: relative;
}

.quiz-answers-type-form .form-contact .radio-btn:nth-of-type(3) {
    margin-left: 40px;
}

.quiz-answers-type-form .form-contact .radio-btn input {
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.quiz-answers-type-form .form-contact .radio-btn input+label::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #231F20;
    border-radius: 50%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s;
    background-color: #fff;
}

.quiz-answers-type-form .form-contact .radio-btn input:checked+label::before {
    background-image: url(../img/icons/radio-disk.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
}

.quiz-answers-type-form input[type="submit"] {
    margin-top: 18px;
    width: 100%;
    max-width: 100%;
    height: 48px;
    padding: 0 20px;
    border-radius: 60px;
    border: none;
    background-color: #C80D3A;
    font-family: "Helvetica Neue LT Std";
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
}

.pagination-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.pagination-wrapper .pagination-step {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 15%;
}

.pagination-wrapper .pagination-step:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #D9D9D9;
    margin-top: 10px;
}

.pagination-wrapper .pagination-step .step-name {
    width: 100%;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #000000;
    margin-top: 5px;
}

.pagination-wrapper .pagination-step .step-num {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #fff;
    border-radius: 50%;
    background-color: #D9D9D9;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-wrapper .step-checked .step-num {
    background-color: #C80D3A;
}

.pagination-wrapper .step-checked:after {
    background-color: #C80D3A;
}

.pagination-wrapper .pagination-step .step-name-mobile {
    display: none;
}

#programs-list-container {
    position: absolute;
    bottom: 0;
}

.question:has(.quiz-answers-type-final#programs-list-container) {
    display: flex;
    flex-direction: column;
}

#programs-list-container ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#programs-list-container ul li {
    font-family: "Helvetica Neue LT Std";
    color: #C80D3A;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    width: 100%;
}

#programs-list-container ul li + li {
    margin-top: 15px;
}

#programs-list-container ul li a {
    font-family: "Helvetica Neue LT Std";
    color: #C80D3A;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-decoration: underline;
    display: flex;
    align-items: center;
}

#programs-list-container ul li a:after {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    width: 12px;
    height: 12px;
    background-image: url(../img/icons/arrow-red.svg);
    margin-left: 10px;
}

.quiz:has(.pagination-step.step-checked:last-of-type) .pagination-quiz {
    display: none;
}


@media (max-width: 600px) {
    .quiz {
        padding: 25px;
    }
    .step img {
        display: none;
    }
    .quiz-answers-type-radio {
        max-width: 100%;
    }
    .pagination-wrapper .pagination-step .step-name {
        display: none;
    }
    .pagination-wrapper .pagination-step {
        transition: 0.3s;
    }
    .pagination-wrapper .pagination-step .step-name-mobile {
        width: 0;
        overflow: hidden;
        transition: 0.3s;
        font-size: 11px;
        line-height: 13px;
        display: block;
    }
    .pagination-wrapper .step-current {
        width: initial;
    }
    .pagination-wrapper .step-current .step-num {
        width: 96px;
        border-radius: 30px;
    }
    .pagination-wrapper .step-current .step-num .num {
        font-size: 0;
    }
    .pagination-wrapper .step-current .step-name-mobile{
        width: initial;
        overflow: initial;
    }
    .tooltip .tooltip-text {
        top: 49px;
        left: 0;
        max-width: 100%;
    }
}